.home-container {
  height: 300px;
  color: black;
  padding-left: 150px;
  padding-top: 40px;
}
.home-content-div {
  margin-left: 20px;
}
.home-content h3 {
  padding: 5px;
  padding-top: 0px;
}
.home-content h1 {
  color: #303a2b;
}
.home-content h3 {
  padding-top: 10px;
}

.home-buttons {
  margin-top: 20px;
}

.home-buttons .btn-hire {
  background-color: #374430;
  color: white;
  width: 160px;
}
.home-buttons .btn-hire:hover {
  background-color: white;
  color: #374430;
  width: 200px;
  transition: 1s;
}

.home-buttons .btn-cv {
  background-color: #374430;
  color: white;
  margin-left: 15px;
  width: 160px;
}

.home-buttons .btn-cv:hover {
  background-color: white;
  color: #374430;
  width: 200px;
  transition: 1s;
}

.theme-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  background-color: #1e1e1e;
  margin-top: 10px;
  text-align: center;
  position: absolute;
  right: 10px;
  cursor: pointer;
  border-radius: 10px;
  color: white;
}

#dark .home-container {
  background-image: url("https://t4.ftcdn.net/jpg/00/94/92/49/360_F_94924992_lmKgKZbwZ2QqouwH0frEb1DTF2Nh1oLd.jpg");
  color: #f4eee0;
}
#dark .home-content h1 {
  color: rgb(224, 170, 238);
}
#dark .home-buttons .btn-hire {
  background-color: rgb(191, 130, 206);
  color: black;
}

#dark .home-buttons .btn-cv {
  background-color: rgb(191, 130, 206);
  color: black;
}

#dark .home-buttons .btn-hire:hover {
  background-color: black;
  color: rgb(191, 130, 206);
}

#dark .home-buttons .btn-cv:hover {
  background-color: black;
  color: rgb(191, 130, 206);
}

/* =============== */
@media (max-width: 600px) {
  .home-container {
    padding: 0;
    margin: 0;
    margin-top: 50px;
  }
  .home-container h2 {
    font-size: 24px;
  }
  .home-container h1 {
    font-size: 24px;
  }
  .home-content-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .home-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .home-buttons .btn-hire {
    margin-bottom: 20px;
    margin-top: 10px;
  }
  .home-buttons .btn-cv {
    margin-left: 0px;
  }
  .theme-btn {
    height: 30px;
    width: 30px;
    margin-top: 15px;
    right: 15px;
  }
}

@media (min-width: 601px) and (max-width: 800px) {
  .home-buttons {
    margin-left: 20px;
  }
  .home-buttons .btn-hire {
    width: 140px;
  }
  .home-buttons .btn-cv {
    width: 140px;
  }
}

@media (min-width: 801px) {
  .home-buttons {
    margin-left: 20px;
  }
}
